.calendarMonthTitle {
  font-family: Rajdhani;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--gray-line);
}

.calendarMonth {
  flex: 1 0 21%;
  margin: 5px;
  height: 10rem;
  background: linear-gradient(75deg, var(--blue), var(--blue-dark));
  box-shadow: inset 0 0 5rem 1rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  transition: transform 0.1s;
}

.calendarMonth:hover {
  transform: scale(1.02);
}

.calendarMonthEvents {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
