.dayModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.dayModalOpen {
  display: flex;
}

.dayModalContent {
  background-color: var(--white);
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  width: 60rem;
}

.dayModalTitle {
  border-bottom: 1px solid var(--gray-line);
  line-height: 2rem;
  font-size: 1.5rem;
}

.dayModalAddNew {
  margin-top: 1rem;
}

.dayModalAddNewTitle {
  margin-bottom: 1rem;
}

.dayModalAddNew input {
  height: 30px;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid black;
}

.dayModalAddNew button {
  padding: 6px;
  border-radius: 5px;
  color: var(--white);
  border: unset;
  background-color: var(--blue-dark);
}

.dayModalAddNew input:not(:last-child) {
  margin-right: 15px;
}

.dayModalListTitle {
  margin-top: 30px;
}

.dayModalList {
  margin-top: 20px;
}

.dayModalList li {
  margin-left: 15px;
}

.dayModalListIcon {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
}
